<!-- 「base.html」を継承 -->
{% extends "base.html" %}

<!-- タイトルブロックを書き換える -->
{% block title %}
掲示板のトップページ
{% endblock %}

<!-- ヘッダブロックを書き換える -->
{% block header %}
<!-- 「login_user_name」の値に応じた条件分岐 -->
{% if login_user_name %}
掲示板のトップページ - {{login_user_name}}さん
{% else %}
掲示板のトップページ - ゲストさん
{% endif %}
{% endblock %}

<!-- コンテンツブロックを書き換える -->
{% block contents %}
<!-- 検索ワードを送信するフォームを定義 ---（※１）-->
<section>
    <form action="{{url_for('index')}}" method="GET">
        <input type="search" name="search_word" value="{{search_word}}"></label>
        <input type="submit" value="検索">
    </form>
</section>
<section>
    <!-- 繰り返し機能を使って「message_list」の要素を表示 -->
    {% for message in message_list %}
    <article>
        <p>{{message.id}} - {{message.user_name}}</p>
        <p>{{message.contents}}</p>
    </article>
    {% endfor %}
</section>
{% endblock %}