<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>掲示板の書き込みページ</title>
</head>

<body>
    <header>
        <h1>掲示板の書き込みページ</h1>
        <!-- 各画面へのメニュー -->
        <nav>
            <ul>
                <li>
                    <!-- 「/」にアクセスするURLを作成 -->
                    <a href="{{url_for('index')}}">トップページ</a>
                </li>
                <li>
                    <!-- 「/write」にアクセスするURLを作成 -->
                    <a href="{{url_for('write')}}">書き込みページ</a>
                </li>
            </ul>
        </nav>
    </header>
</body>

</html>